body {
  --background: #f4f4f4;
  --primary-color: #112;
  --secondary-color: #557;
  --button-bg: #b6c0bb;
  --button-hover: #aaaaaa;
  --card-bg: #fff;
  --border-color: #e0e0e0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--primary-color);
}

body.dark-theme {
  --background: #112;
  --primary-color: #eee;
  --secondary-color: #bbb;
  --button-bg: #474b49;
  --button-hover: #224;
  --card-bg: #001;
  --border-color: #224;
}

.popup-container {
  width: 320px;
  padding: 20px;
  padding-top: 5px;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.content {
  text-align: center;
}

p {
  font-size: 14px;
  margin: 10px 0;
}

.status-message {
  font-size: 14px;
  color: #ff0000;
  margin: 10px 0;
}

.terms-privacy {
  margin-top: 0px;
  font-size: 0.9em;
  text-align: center;
  color: var(--secondary-color);
}

.terms-privacy a {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.api-message a {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.terms-privacy a:hover {
  text-decoration: underline;
}

/* Button Container and Controls */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
  position: relative;
  height: auto;
}

.button-section-vertical-left,
.button-section-vertical-right {
  position: absolute;
  height: 100%;
  width: 60px;
  padding-inline: 5px;
  border-radius: 5px;
  background-color: var(--button-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.button-section-vertical-left {
  left: 0;
}

.button-section-vertical-right {
  right: 0;
}

.button-section-vertical-left:hover,
.button-section-vertical-right:hover {
  background-color: var(--button-hover);
}

.refresh-icon,
.fill-icon {
  width: 20px;
  height: 20px;
  scale: 1.2;
  filter: brightness(0) invert(1);
}

.toggle-switch {
  width: 150px;
  height: 150px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  transition: all 0.3s ease;
  scale: 0.8;
}

.toggle-switch:hover {
  opacity: 0.8;
}

.toggle-switch img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  transition: all 0.6s ease;
}

.toggle-on {
  display: none;
  opacity: 0.7;
  transition: all 0.6s ease;
}

.toggle-off {
  filter: grayscale(100%) brightness(70%);
  transition: all 0.3s ease;
  opacity: 0.5;
}

.user-profile-section {
  text-align: center;
  padding-top: 10px;
  padding-bottom: -10px;
  margin-top: 10px;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  margin-bottom: 0px;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  scale: 0.8;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 0px;
}

.profile-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 20px;
  gap: 8px;
}

.more-button {
  display: inline-flex;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  background: var(--card-bg);
  color: var(--secondary-color);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease;
}

.more-button:hover {
  background-color: var(--button-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.more-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.more-button::before {
  content: '+';
  margin-right: 4px;
  color: var(--secondary-color);
}

.profile-stats {
  padding: 15px 20px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--card-bg);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: fit-content;
  min-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  transition: all 0.3s ease;
}

.profile-stats:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.api-message {
  font-size: 16px;
  color: #666;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.signin-text {
  color: var(--secondary-color);
  font-size: 14px;
  margin-bottom: 5px;
}
.api-message {
  background-color: #ffebeb;
  color: #dc3545;
  /* color: #856404; */
  padding: 12px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: none;
}

.api-message a {
  color: #921925;
  /* color: #533f03; */
  text-decoration: underline;
  margin-left: 5px;
}

.api-message.show {
  display: block;
}
.toast-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) scale(0.7);
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.toast {
  background-color: #333;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  font-size: larger;
  margin: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  text-align: center;
}
.toast.show {
  opacity: 1;
}
.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

.toast.info {
  background-color: #2196f3;
}
.disabled .toggle-on,
.disabled .toggle-off {
  opacity: 0.3 !important;

  pointer-events: none;

  display: block;
}
.disabled .toggle-on:not(:visible),
.disabled .toggle-off:not(:visible) {
  display: none;
}
